body {
    font-family: Arial, sans-serif;
}

header {
    padding: 10px;
    text-align: center;
}

nav button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 3px;
    cursor: pointer;
    height: 50px;
    font-size: 15px;
    border-radius: 8px;
    
}
button{
    background-color:#008CBA;
    color:white;
    border-radius: 8px;

}

nav button:hover {
    background-color: #006282;
}

main {
    padding: 20px;
}

.page {
    display: none;
}


h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin:20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}
